@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .config-item {
        @apply text-gray-800 flex flex-col items-center text-center w-full transition-all duration-300;
    }

    .config-item:hover {
        @apply text-black font-semibold -translate-y-1;
    }

    .config-img-box {
        @apply h-24 w-full flex items-end justify-center mb-4;
    }

    .config-img-box img {
        @apply max-h-full max-w-full object-contain;
    }

    .config-text {
        @apply text-sm leading-snug; 
    }

    .switch-btn {
        @apply font-medium text-gray-800 border-2 border-gray-100 rounded-full p-3 transition-colors duration-300;
    }
    .switch-btn:hover {
        @apply bg-red-600 text-white;
    }
    .switch-btn:first-child {
        @apply border-r-0;
    }
    .switch-btn:last-child {
        @apply border-l-0;
    }
    .info-btn-back {
        @apply transition-all duration-300 p-2 border-2 border-gray-100 rounded-full;
    }
    .info-btn-back:hover {
        @apply bg-gray-300;
    }
}