@page
@model IndexModel
@{
    ViewData["Title"] = "Апогей, 1С решения";
}

<header>
</header>

<main>
    <section id="hero">
        <div>
            <h1>Лидер среди обслуживающих организаций 1С для госучреждений</h1>
        </div>
    </section>
    <div class="container">
        <section id="helo">
            <div>
                <h2>Знаем ответ на любой ваш вопрос</h2>
                <p>
                    Существуя уже более 15 лет на рынке, наша компания оперативно помогает бухгалтерам со всей России. Только за 2024 год наши специалисты решили более 500 тысяч
                    задач, среди которых:
                </p>
                <ul>
                    <li>Настройка и доработка 1С:Бухгалтерии для госучреждений и других конфигураций</li>
                    <li>Автоматизация рутинных процессов и отчетности</li>
                    <li>Интеграция 1С с другими системами ведения бух. учета</li>
                    <li>Исправление учетных ошибок и аудит баз данных</li>
                </ul>
                <p>
                    Именно неоценимый вклад в каждого клиента позволил нам закрепиться на 1 месте среди обслуживающий госучреждения компаний,
                    а наличие 6 филиалов, охватывающих все часовые пояса, позволяет решать 90% задач в первые 24 часа.
                </p>
            </div>
        </section>
        <section id="configurations">
            <div class="config-item" id="bgu">
                <img src="images/logoBGU.png" alt="1С:Бухгалтерия государственного учреждения" length="120" width="120">
                <p>1С:Бухгалтерия государственного учреждения</p>
            </div>
            <div class="config-item" id="zkgu">
                <img src="images/logoZKGU.png" alt="1С:Зарплата и кадры государственного учреждения" length="120" width="120">
                <p>1С:Зарплата и кадры государственного учреждения</p>
            </div>
            <div class="config-item" id="zkgu">
                <img src="images/logoReports.png" alt="1С:Отчетность" length="120" width="120">
                <p>1С:Отчетность</p>
            </div>
            <div class="config-item" id="zkgu">
                <img src="images/logoMedicine.png" alt="1С:Медицина" length="120" width="120">
                <p>1С:Медицина</p>
            </div>
            <div class="config-item" id="zkgu">
                <img src="images/logoKAMIN.png" alt="1С-КАМИН: Зарплата для бюджетных учреждений" length="120" width="120">
                <p>1С-КАМИН: Зарплата для бюджетных учреждений</p>
            </div>
        </section>
        <section id="btnSwitch">
            <div>
                <button id="btnAccountant">Для клиентов</button>
                <button id="btnCandidate">Для соискателей</button>
            </div>
        </section>
        <section id="additiveInfo">
            <div id="accountantInfo">
                <p>Доверяя нам свой учет вы получаете:</p>
                <ul class="accountantList">
                    <li>Идеальный учет: сопровождаем вас от внедрения и аудита до сдачи корректной отчетности</li>
                    <li>Комфортную работу с 1С: используете наши доработки, заменяющие часы рутинной работы</li>
                    <li>Оперативную помощь: наши квалифицированные специалисты ответят на любой ваш вопрос и решат любую задачу, даже если она кажется нерешаемой</li>
                    <li>Четкое понимание особенностей ведения учета: разделение зон ответственности позволяют каждому сотруднику оказывать вам глубокую экспертную помощь по своему направлению</li>
                </ul>
                <p>Основываясь на безлимитном формате обслуживания, мы решаем неограниченное количество задач для вас даже после рабочего дня и в выходные. </p>
            </div>
        </section>
    </div>
</main>

<footer>
    <!-- копирайт -->
</footer>